*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-main{
    min-height: 100vh;
    width: 100%;
    background-color: #1F4C90;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-to{
    text-decoration: none;
}
.btn-blue{
    color: white;
    background-color: #1F4C90;
    font-weight: 600;
}
.btn-blue:hover{
    color: white;
}

.btn-outline-blue{
    color: #1F4C90;
    background-color: white;
    border: 1px solid #1F4C90;
    font-weight: 600;
    padding: 5px 18px;
}
.btn-outline-blue:hover{
    color: white;
    background-color: #1F4C90;
    border: 1px solid #1F4C90;
}

.login-box{
    background-color: white;
    border-radius: 25px;
    min-height: 50vh;
    width: 450px;
}

.al-center{
    display: flex;
    justify-content: center;
    align-items: center;
}